# IDE
.idea
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.mypy_cache
*.pyc

# C extensions
*.so
**/cmake-build-debug/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
_skbuild/
.installed.cfg
*.egg

# Environments
.venv
env/
venv/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Sphinx documentation
docs/build/
generated

# ruff cache
.ruff_cache/

# cached models, downloads, etc.
cache

# data (sample video)
data

samples/0_railway_monitoring
samples/age_gender_recognition
samples/animegan
samples/area_object_counting
samples/assets
samples/auxiliary_streams
samples/aws_kinesis
samples/buffer_adapter
samples/bypass_model
samples/conditional_video_processing
samples/face_reid
samples/file_processing
samples/fisheye_line_crossing
samples/intersection_traffic_meter
samples/kafka_redis_adapter
samples/keypoint_detection
samples/key_value_api
samples/license_plate_recognition
samples/meta_merge
samples/mjpeg_usb_cam
samples/multiple_gige
samples/multiple_rtsp
samples/nanosam
samples/nvarguscamerasrc

samples/opencv_cuda_bg_remover_mog2
samples/original_resolution_processing
samples/output_converter_metadata
samples/panoptic_driving_perception
samples/pass_through_processing
samples/peoplenet_detector
samples/pipeline_watchdog
samples/pygroup
samples/retina_rtsp_rtcp_sr
samples/router
samples/rtdetr
samples/rtsp_cam_compatibility_test
samples/scene_change
samples/source_adapter_with_json_metadata
samples/source_shaper_sample
samples/super_resolution
samples/telemetry
samples/template
samples/traffic_meter
samples/uridecodebin
samples/yolov11_seg


samples/railway_monitoring/images
samples/railway_monitoring/models
samples/railway_monitoring/results
samples/railway_monitoring/videos

# logs (perf measurement)
logs

# certificates
certs

local_wheels/savant_rs/*.whl

**/*.crt
**/*.key
**/*.pem
**/*.csr
**/*.csr.pem
**/*.csr.key
**/*.csr.crt
**/*.csr.pem